@model IEnumerable<ASP_Dot_Net_MVC_Aug_2021.ModelsDto.ProductDto>



<h1>Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table  table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.P_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P_descript)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P_InDate)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.P_QOH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P_Min)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.P_Price)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.P_Discount)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.V_code)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.P_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P_descript)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P_InDate)
                @*@item.P_InDate.ToShortDateString()*@
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.P_QOH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P_Min)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.P_Price)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.P_Discount)
            </td>*@
            <td>
                @*@Html.DisplayFor(modelItem => item.V_code)*@
                @item.Vendor.V_name
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.P_Code }) |
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
